{"openapi":"3.2.0","info":{"title":"Legitimoose API","description":"An API for getting data from legitimoose.com and miscellaneous LegitiDevs info.","contact":{"name":"LegitiDevs","url":"https://legiti.dev"},"license":{"name":"MIT","url":"https://github.com/LegitiDevs/api/blob/master/LICENSE"},"version":"4.0.0-beta.3"},"components":{"schemas":{}},"paths":{"/v4/players/":{"get":{"parameters":[{"schema":{"type":"integer","minimum":0},"in":"query","name":"offset","required":false},{"schema":{"type":"integer","minimum":1},"in":"query","name":"limit","required":false},{"schema":{"type":"string","format":"player-sort-by-parameter"},"in":"query","name":"sort_by","required":false},{"schema":{"type":"string"},"in":"query","name":"project","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/players/{player_uuid}":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"project","required":false},{"schema":{"type":"string","format":"uuid"},"in":"path","name":"player_uuid","required":true}],"responses":{"200":{"description":"Default Response"}}}},"/v4/players/{player_uuid}/worlds":{"get":{"parameters":[{"schema":{"type":"integer","minimum":0},"in":"query","name":"offset","required":false},{"schema":{"type":"integer","minimum":1},"in":"query","name":"limit","required":false},{"schema":{"type":"string","format":"world-sort-by-parameter"},"in":"query","name":"sort_by","required":false},{"schema":{"type":"string"},"in":"query","name":"project","required":false},{"schema":{"type":"string","format":"uuid"},"in":"path","name":"player_uuid","required":true}],"responses":{"200":{"description":"Default Response"}}}},"/v4/stats/":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"project","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/":{"get":{"parameters":[{"schema":{"type":"integer","minimum":0},"in":"query","name":"offset","required":false},{"schema":{"type":"integer","minimum":1},"in":"query","name":"limit","required":false},{"schema":{"type":"string","format":"world-sort-by-parameter"},"in":"query","name":"sort_by","required":false},{"schema":{"type":"string"},"in":"query","name":"project","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/random":{"get":{"parameters":[{"schema":{"type":"integer","minimum":1},"in":"query","name":"limit","required":false},{"schema":{"type":"string","format":"world-sort-by-parameter"},"in":"query","name":"sort_by","required":false},{"schema":{"type":"string"},"in":"query","name":"project","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/search":{"get":{"parameters":[{"schema":{"type":"integer","minimum":0},"in":"query","name":"offset","required":false},{"schema":{"type":"integer","minimum":1},"in":"query","name":"limit","required":false},{"schema":{"type":"string"},"in":"query","name":"query","required":true},{"schema":{"type":"string","format":"world-sort-by-parameter"},"in":"query","name":"sort_by","required":false},{"schema":{"type":"string"},"in":"query","name":"project","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/{world_uuid}":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"project","required":false},{"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","enum":["lobby"]}]},"in":"path","name":"world_uuid","required":true}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/stats":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"project","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/{world_uuid}/stats":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"project","required":false},{"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","enum":["lobby"]}]},"in":"path","name":"world_uuid","required":true}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/players":{"get":{"parameters":[{"schema":{"type":"integer","minimum":0},"in":"query","name":"offset","required":false},{"schema":{"type":"integer","minimum":1},"in":"query","name":"limit","required":false}],"responses":{"200":{"description":"Default Response"}}}},"/v4/worlds/{world_uuid}/players":{"get":{"parameters":[{"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","enum":["lobby"]}]},"in":"path","name":"world_uuid","required":true}],"responses":{"200":{"description":"Default Response"}}}}},"servers":[{"url":"https://api.legiti.dev","description":"Production Server"},{"url":"https://127.0.0.1:3000","description":"Local Server"}]}