:root {
    --legitidevs-accent: #5c2ab9;
    --vp-c-brand-1: var(--legitidevs-accent);
    --vp-c-brand-2: var(--legitidevs-accent);
    --vp-c-brand-3: var(--legitidevs-accent);
}

.dark {
    --legitidevs-accent: #a262ff;
}